[Unit]
Description=Reload AppIndicator Support extension
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'sleep 3 && gnome-extensions disable appmenu-is-back@fthx && gnome-extensions enable appmenu-is-back@fthx'

[Install]
WantedBy=graphical-session.target
